html {
  background-color: #222222;
}

body {
  font-family: sans, 'Roboto';
  max-width: 1200px;
  margin: auto;
  padding-top: 15px;
}

/* Straight-up stole the below from https://www.w3schools.com/howto/howto_css_navbar_icon.asp , with some tweaks. */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* End thievery. */

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

a {
  color: #444444;
}
